modules = ["rust"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dioxus Application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "rust_app"

[[workflows.workflow]]
name = "Dioxus Application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run"
waitForPort = 5000

[[workflows.workflow]]
name = "rust_app"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run"

[deployment]
run = ["sh", "-c", "cargo run"]
